<!DOCTYPE html>
<html>
  <head>
    <title>Employed</title>
    <style>
      h1 {
        text-align: center;
      }
      form {
        text-align: center;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="icon" type="image/x-icon" href="https://cdn-icons-png.flaticon.com/512/2097/2097443.png">
  </head> 
  <body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" href="/home">Employed</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="/home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/portfolio">Timetable</a>
      </li>
      <li>
        {% if current_user.is_authenticated %}
        <a class="nav-link" href="/logout">Logout</a>
        {% else %}
        <a class="nav-link" href="/login">Login</a>
        {% endif %}
      </li>
    </ul>
  </div>
</nav>
    <h1>Enter your details below to get started</h1>
    <form id="email" action="{{ url_for('registersuccess') }}" method="post">
    <input id="emailInput" type="text" name="email" placeholder="Enter your email" required><br>

    <form id="name" action="{{ url_for('registersuccess') }}" method="post">
    <input id="nameInput" type="text" name="name" placeholder="Enter your full name" required><br>

    <form id="password" action="{{ url_for('registersuccess') }}" method="post">
    <input id="passwordInput" type="text" name="password" placeholder="Create a password" required><br>
      <button id="allSubmit" type="sumbit" value="Submit" class="btn btn-primary" style="margin-top: 5px;" >Register</button>
        {% if error %}
    <p class="error">{{ error }}</p>
{% endif %}
</form>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>